extends layout

block content
  .kitties
    each kitty in kitties
      - var kittyPrice = parseInt(kitty.current_price, 10) / 1000000000000000000

      .kitty
        a(target="_blank" href='https://private.cryptokitties.co/kitty/' + kitty.kitty.id)
          img(src=kitty.kitty.image_url)
        div= '#' + kitty.kitty.id
        div ETH
          = ' '
          span= kittyPrice.toFixed(4)
        div Price $#{(kittyPrice * ethPrice).toFixed(2)}
