extends layout

block content

  .section
    h2 Least Expensive for Sale

    .kitties
      .kitties-content
        each kitty in saleLeast
          +kitty(kitty)

  .section
    h2 Least Expensive to Sire

    .kitties
      .kitties-content
        each kitty in sireLeast
          +kitty(kitty)

  .section
    h2 Most Expensive for Sale

    .kitties
      .kitties-content
        each kitty in saleMost
          +kitty(kitty)

  .section
    h2 Most Expensive to Sire

    .kitties
      .kitties-content
        each kitty in sireMost
          +kitty(kitty)
