extends layout

block content

  .section
    h2 Sales About to End

    .kitties
      each kitty in saleEndSoon
        - var kittyPrice = parseInt(kitty.current_price, 10) / 1000000000000000000

        .kitty
          a(target="_blank" href='https://private.cryptokitties.co/kitty/' + kitty.kitty.id)
            img(src=kitty.kitty.image_url)
          div= '#' + kitty.kitty.id
          div ETH
            = ' '
            span= kittyPrice.toFixed(4)
          div Price $#{(kittyPrice * ethPrice).toFixed(2)}
          div(class="#{kitty.ending_soon ? 'text-danger' : ''}") Ends #{kitty.time_until_end}

  .section
    h2 Sires About to End

    .kitties
      each kitty in sireEndSoon
        - var kittyPrice = parseInt(kitty.current_price, 10) / 1000000000000000000

        .kitty
          a(target="_blank" href='https://private.cryptokitties.co/kitty/' + kitty.kitty.id)
            img(src=kitty.kitty.image_url)
          div= '#' + kitty.kitty.id
          div ETH
            = ' '
            span= kittyPrice.toFixed(4)
          div Price $#{(kittyPrice * ethPrice).toFixed(2)}
          div(class="#{kitty.ending_soon ? 'text-danger' : ''}") Ends #{kitty.time_until_end}

  .section
    h2 Most Expensive for Sale

    .kitties
      each kitty in saleMost
        - var kittyPrice = parseInt(kitty.current_price, 10) / 1000000000000000000

        .kitty
          a(target="_blank" href='https://private.cryptokitties.co/kitty/' + kitty.kitty.id)
            img(src=kitty.kitty.image_url)
          div= '#' + kitty.kitty.id
          div ETH
            = ' '
            span= kittyPrice.toFixed(4)
          div Price $#{(kittyPrice * ethPrice).toFixed(2)}
          div(class="#{kitty.ending_soon ? 'text-danger' : ''}") Ends #{kitty.time_until_end}

  .section
    h2 Least Expensive for Sale

    .kitties
      each kitty in saleLeast
        - var kittyPrice = parseInt(kitty.current_price, 10) / 1000000000000000000

        .kitty
          a(target="_blank" href='https://private.cryptokitties.co/kitty/' + kitty.kitty.id)
            img(src=kitty.kitty.image_url)
          div= '#' + kitty.kitty.id
          div ETH
            = ' '
            span= kittyPrice.toFixed(4)
          div Price $#{(kittyPrice * ethPrice).toFixed(2)}
          div(class="#{kitty.ending_soon ? 'text-danger' : ''}") Ends #{kitty.time_until_end}

  .section
    h2 Most Expensive to Sire

    .kitties
      each kitty in sireMost
        - var kittyPrice = parseInt(kitty.current_price, 10) / 1000000000000000000

        .kitty
          a(target="_blank" href='https://private.cryptokitties.co/kitty/' + kitty.kitty.id)
            img(src=kitty.kitty.image_url)
          div= '#' + kitty.kitty.id
          div ETH
            = ' '
            span= kittyPrice.toFixed(4)
          div Price $#{(kittyPrice * ethPrice).toFixed(2)}
          div(class="#{kitty.ending_soon ? 'text-danger' : ''}") Ends #{kitty.time_until_end}

  .section
    h2 Least Expensive to Sire

    .kitties
      each kitty in sireLeast
        - var kittyPrice = parseInt(kitty.current_price, 10) / 1000000000000000000

        .kitty
          a(target="_blank" href='https://private.cryptokitties.co/kitty/' + kitty.kitty.id)
            img(src=kitty.kitty.image_url)
          div= '#' + kitty.kitty.id
          div ETH
            = ' '
            span= kittyPrice.toFixed(4)
          div Price $#{(kittyPrice * ethPrice).toFixed(2)}
          div(class="#{kitty.ending_soon ? 'text-danger' : ''}") Ends #{kitty.time_until_end}

  //- .section
  //-   h2 Cheapest End Price

  //-   .kitties
  //-     each kitty in saleEndPrice
  //-       - var kittyPrice = parseInt(kitty.current_price, 10) / 1000000000000000000

  //-       .kitty
  //-         a(target="_blank" href='https://private.cryptokitties.co/kitty/' + kitty.kitty.id)
  //-           img(src=kitty.kitty.image_url)
  //-         div= '#' + kitty.kitty.id
  //-         div ETH
  //-           = ' '
  //-           span= kittyPrice.toFixed(4)
  //-         div Price $#{(kittyPrice * ethPrice).toFixed(2)}
  //-         div(class="#{kitty.ending_soon ? 'text-danger' : ''}") Ends #{kitty.time_until_end}
