doctype html
html
  head
    title= title
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.nav
      .nav-section.nav-section--left
        span.nav-title= title

      .nav-section.nav-section--middle
        .nav-section-inner
          a(href='/') Top 10s
          = ' '
          a(href='/sale') View all Sales
          = ' '
          a(href='/sire') View all Sires
          = ' '
          a(href='https://kittysales.herokuapp.com' target='_blank') Recent Sales

        .nav-section-inner
          a.contribute(href='https://github.com/devinmcinnis/statiskits' target='_blank')
            | Contribute

      .nav-section.nav-section--right
        if ethPrice
          span.eth-price ETH $
            = ethPrice.toFixed(2)
            = ' USD'
        //- span Last update #{lastUpdate.toLocaleTimeString()}

    .content
      block content

    if isProduction
      script(async src='https://www.googletagmanager.com/gtag/js?id=UA-110458985-1')
      script.
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-110458985-1');
