doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.nav
      .nav-section
        span.nav-title= title
        a(href='/') Top 10s
        = ' '
        a(href='/sale') View all Sales
        = ' '
        a(href='/sire') View all Sires

      .nav-section
        if ethPrice
          span.eth-price ETH$
            = ethPrice.toFixed(2)
        //- span Last update #{lastUpdate.toLocaleTimeString()}

    .content
      block content
