*,
*::before,
*::after
  box-sizing inherit

html
  box-sizing border-box

body
  font 14px "Lucida Grande", Helvetica, Arial, sans-serif
  margin 0 5px

h2
  margin-bottom 0

a
  color #00B7FF

img
  max-width 100%

.Button
  text-decoration none
  color #777
  font-size 0.925em
  font-weight 500
  padding 0.85em
  border 1px solid #e9e9e9
  border-radius 2px

  &:hover
    background-color #f4f4f4

.text-danger
  color red

.nav
  position sticky
  top 0
  z-index 100

  display flex
  flex-wrap wrap
  align-items center
  justify-content space-between

  padding 10px 10px
  border-bottom 1px solid #e9e9e9
  background-color white

  a
    padding-right 10px
    text-decoration none

.nav-section
  display flex
  align-items center

  &--middle
    order 100
    justify-content space-between
    white-space nowrap
    padding-top 10px
    min-width 100%
    overflow auto

    @media (min-width: 1020px)
      flex 1
      order initial
      padding-top initial
      min-width auto

.eth-price
  margin-left 20px
  font-weight bold

.nav-title
  font-size 2em
  font-weight bold
  padding-right 20px

.page-nav
  display flex
  justify-content space-between
  margin 20px 0

.content
  padding 10px 15px 10px 5px

.section
  margin-bottom 50px

.kitties
  overflow auto

  &--no-overflow
    overflow initial

    .kitties-content
      width 100%

    .kitty
      width 50%

      @media (min-width: 460px)
        width 25%

      @media (min-width: 740px)
        width 20%

      @media (min-width: 1020px)
        width 10%

.kitties-content
  display flex
  flex-wrap wrap
  width 400%

  @media (min-width: 560px)
    width 220%

  @media (min-width: 840px)
    width 155%

  @media (min-width: 1020px)
    width 100%

.kitty
  text-align center
  width 10%
  padding 0 5px

