body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0 5px;
}

h2 {
  margin-bottom: 0;
}

a {
  color: #00B7FF;
}

img {
  max-width: 100%;
}

.text-danger {
  color: red;
}

.nav {
  position: sticky;
  top: 0;
  z-index: 100;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 10px 10px;
  border-bottom: 1px solid #e9e9e9;
  background-color: white;
}

.nav-section {
  display: flex;
  align-items: center;
}

.eth-price {
  margin-left: 20px;
  font-weight: bold;
}

.nav-title {
  font-size: 2em;
  font-weight: bold;
  padding-right: 20px;
}

.nav a {
  padding-right: 10px;
  text-decoration: none;
}

.content {
  padding: 20px 15px 20px 5px;
}

.section {
  margin-bottom: 50px;
}

.kitties {
  display: flex;
  flex-wrap: wrap;
}

.kitty {
  width: 10%;
  text-align: center;
}

.kitty img {
  transition: all .05s ease-in-out;
}

.kitty img:hover {
  position: relative;
  z-index: 10;
  transform: scale(1.6);
}
